:root {
  --navy-blue: #2e2f42;
  --slate: #434455;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --iris: #4d5ae5;
  --ocean: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.logo {
  text-decoration: none;
  color: var(--navyblue, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footlogo {
  text-decoration: none;
  color: var(--cloud, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.weblogo {
  color: var(--iris, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.header-link {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.contact-link {
}
