body {
  font-family: "Roboto";
}

h1 .hero {
  font-family: "Roboto";
  font-weight: 700;
}

a .a {
  font-family: "Raleway";
  font-weight: 800;
}

a .b {
  font-family: "Roboto";
  font-weight: 400;
}

a .c {
  font-family: "Roboto";
  font-weight: 500;
}

a .d {
  font-family: "Roboto";
  font-weight: 700;
}

a .e {
  font-family: "Roboto";
  font-weight: 900;
}
