:root {
  --navy-blue: #2e2f42;
  --slate: #434455;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --iris: #4d5ae5;
  --ocean: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.logo {
  text-decoration: none;
  color: var(--navyblue, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footlogo {
  text-decoration: none;
  color: var(--cloud, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.weblogo {
  color: var(--iris, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.header {
  background-color: var(--white);
}

.header-link {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.contact-link {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--white);
}

.hero {
  background: var(--navyblue, #2e2f42);
}
.hero-title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}

.hero-button {
  background: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.features {
  background-color: var(--white);
}
.features-item-name {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.feature-item-text {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.section-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team {
  background: var(--cloud, #f4f4fd);
}

.team-item-name {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.team-item-text {
  color: var(--slate, #434455);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.footer {
  background: var(--navyblue, #2e2f42);
}

.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
