:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --footer-color: #f4f4fd;
  --primary-background-white: #ffffff;
  --secondary-background-navy: #2e2f42;
  --tertiary-background-cloud: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
}
